.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(71, 71, 177);
    margin-bottom: 15px;
}
.title{
    display: flex;
    align-items: center;
}
.header img{
    height: 50px;
    width: 50px;
    margin-right: 5px;
}